APP_NAME=Cyber Volunteers HQ
SECRET_KEY=change_me_super_secret
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+psycopg://USERNAME:PASSWORD@HOST:5432/DATABASE
FRONTEND_URL=https://kanio0.github.io
CORS_ORIGINS=http://localhost:5173,https://kanio0.github.io
RUN_BOT=false
BOT_TOKEN=
TELEGRAM_BOT_NAME=beeline_volunteers_bot
INACTIVITY_DAYS=180
