APP_NAME=Cyber Volunteers HQ
SECRET_KEY=change_me_super_secret
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=sqlite:///./cybervolunteers.db
FRONTEND_URL=http://localhost:5173
RUN_BOT=false
BOT_TOKEN=
TELEGRAM_BOT_NAME=beeline_volunteers_bot
INACTIVITY_DAYS=180
